
body {
    background: #222831;
    margin: 0;
    color: white;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}


input {
    padding: 0.9%;
    width: 16%;
    border-radius: 12px;
    border: none;
    background-color: #393E46;
    color: #EEEEEE;
    border-color: red;
    font-family: 'Manrope', sans-serif;
}



button {
    padding: 10%;
    border-radius: 12px;
    border: none;
    background-color: #393E46;
    color: #EEEEEE;
    margin-left: 2%;
    cursor: pointer;
    white-space:nowrap;
    font-family: 'Manrope', sans-serif;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
}

.small_mess{
    width: 16%;
    font-size: 80%;
    text-align: left;
    margin-bottom: 1%;
    white-space:nowrap;
    color: rgb(221, 0, 0);
    font-family: 'Manrope', sans-serif;
}

.small_mess.id{
    color: #EEEEEE;
    font-size: 70%;
    margin-bottom: 0%;
    font-family: 'Manrope', sans-serif;
}
@media(max-width: 425px){
    input{
        width: 80%;
        padding: 2%;
        margin-bottom: 0.5%;
    }
    .small_mess{
        width: auto;
    }
    button{
        padding: 5%;
    }
}





