body{
    background-color: #222831;
    font-family: 'Manrope', sans-serif;
}
ul{
    display: grid;
    place-items: top;
    list-style-type: none;
    column-gap: 1%;
    padding: 0%;
    gap: 1%;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 500px));

}

li{
    display: grid;
    background-color: #393E46;
    color: #EEEEEE;
    margin: 0.5%;
    border-radius: 15px;
}

#progress{
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    top: -4px; 
}

#progress::-webkit-progress-bar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
#progress::-webkit-progress-value {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: #00ADB5;
}
#progress::-moz-progress-bar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #00ADB5;
}

#progress-votes{
    border-radius: 15px;
}

#main-votes{
    padding: 2%;
}
h2{
    margin-top: 0%;
    margin-bottom: 1%;
    text-decoration: none;
    color: #EEEEEE;
}
h2:hover{
    text-decoration: underline;
    cursor: pointer;
}

p{
    margin-top: 0%;
}
#link-head{
    text-decoration: none;
}

#load{
    position: absolute;
    top: 0%; left: 0%; right: 0%; bottom: 0%;
    text-align: center;
    vertical-align: text-bottom;
}
