.selected {
    background-color: #f0f0f0; /* Цвет фона выбранной опции */
  }
  
  .indicator_container {
    position: relative;
  }
  
  .indicator {
    width: 100px; /* Ширина квадратика (можете настроить по своему усмотрению) */
    height: 20px; /* Высота квадратика (можете настроить по своему усмотрению) */
    background-color: #007bff; /* Цвет квадратика */
    position: absolute;
    bottom: -5px; /* Регулируйте положение квадратика относительно текста */
    transition: left 0.3s ease; /* Анимация изменения положения */
  }